body { background-color:#FFFFFF;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}

h1 { background-color: #000033;
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
}
h1 { line-height: 200%;}

nav { font-weight: bold;
	background-color: #90C7E3;
}
h2 { color: #3399CC;
	font-family: Georgia, serif;
}
dt { color: #000033;
	font-weight: bold;
}
.resort { color: #000033;
	font-size: 1.2em;
}
footer { font-size: 0.70em;
	font-style: italic;
	text-align: center;
}
.wrapper { max-width: 80%;
	margin: auto;
}